endpoint_add_tcp "0.0.0.0:30120"
endpoint_add_udp "0.0.0.0:30120"

set es_enableCustomData 1
set mysql_connection_string "server=localhost;database=template;userid=root;password="
###################################
##            (FiveM)            ##
###################################
start mapmanager
start chat
start spawnmanager
start sessionmanager
start fivem
start hardcap
start rconlog
start scoreboard
start yarn
##################################
##### (BASE ESSENTIALMODE) #######
##################################
start essentialmode
start esplugin_mysql
start es_admin2
###################################
##            (libs)             ##
###################################
start mysql-async
##################################
##        (es_extended)         ##
##################################
start es_extended
#ui
start esx_menu_default
start esx_menu_list
start esx_menu_dialog
##################################
##         (Chargement)         ##
##################################
start Dark_Loading
##################################
##            (F5)              ##
##################################
start krz_personalmenu
##################################
##           (esx)              ##
##################################
#base
start esx_addonaccount
start esx_addoninventory
start esx_billing
start esx_datastore
start esx_identity
start esx_license
start esx_service
start esx_society
#jobs
ensure esx_jobs
ensure esx_joblisting
##################################
##          (Non esx)           ##
##################################
start cron
start instance
##################################
##         (Personnage)         ##
##################################
start esx_identity
start esx_skin
start skinchanger
start jsfour-idcard





















sv_hostname "^8[FR/QC]^4Dark Développement|^5discord.gg/ge6Q8GPMeA"
set temp_convar "hey world!"

# Add system admins
add_ace group.admin command allow # allow all commands
add_ace group.admin command.quit deny # but don't allow quit
add_principal identifier.fivem:1 group.admin # add the admin to the group
#essentialmode
add_ace resource.essentialmode command.sets allow
add_ace resource.essentialmode command.add_principal allow
add_ace resource.essentialmode command.add_ace allow
#es_extended
add_principal group.admin group.user
add_ace resource.es_extended command.add_ace allow
add_ace resource.es_extended command.add_principal allow
add_ace resource.es_extended command.remove_principal allow
add_ace resource.es_extended command.stop allow

onesync_enabled false
sv_maxclients 1
sv_scriptHookAllowed 0
sv_endpointprivacy true
sets tags "default"
sets locale "fr-FR" 
sets banner_detail "A LE CONFIG!"
sets banner_connecting "A LE CONFIG!"
#exec server_internal.cfg
#load_server_icon myLogo.png
#sv_master1 ""
#rcon_password ""


# Steam Web API key, if you want to use Steam authentication (https://steamcommunity.com/dev/apikey)
# -> replace "" with the key
set steam_webApiKey "xxxxxxx"

# License key for your server (https://keymaster.fivem.net)
sv_licenseKey xxxxxxxx